.wrapper{
    padding: 10px;
}

.blog{
    display: flex;
    gap: 70px;
    padding-top: 20px;
}

.form{
    width: 30%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.element{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 10px;
    width: 80%;
}

.visor{
    width: 70%;
    height: 450px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.articulo{
    padding: 10px;
    max-width: 100%;
    overflow: none;
    background-color: rgba(206, 206, 206, 0.694);
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}

.boton{
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

input, textarea{
    background: none;
    color:#7f7f7f;
    width: 100%;
    border:none;
    border-radius: 5px;
    background-color: rgba(206, 206, 206, 0.178);
    border-bottom: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    resize: none;

}

