<div class="wrapper">
    <section class="blog">
        <div class="form"> <!-- Capturar Datos -->
            <div class="element grupo">
                <label for="titulo">Título</label>
                <input type="text" id="titulo" class="form-control" placeholder="Introduce el Título del Artículo " [(ngModel)]="newArticulo.titulo">
            </div>
            <div class="element grupo">
                <label for="imagen">URL de la Imagen:</label>
                <input type="text" id="imagen" placeholder="https://ejemplo.com/imagen1.jpg" [(ngModel)]="newArticulo.imagen">
            </div>
            <div class="element grupo">
                <label for="texto">Texto de la Noticia:</label>
                <textarea id="texto" rows="4" placeholder="Introduce el Texto del Artículo" [(ngModel)]="newArticulo.texto"></textarea>
            </div>
            <div class="element grupo">
                <label for="fecha">Fecha de Publicación:</label>
                <input type="date" id="fecha" [(ngModel)]="newArticulo.fecha">
            </div>
            <button (click)="guardar()" class="boton">Guardar</button>
        </div>
        <div class="visor">
            <div [innerHTML]="cargarDatos()"> <!-- Pintar Datos--></div>
          </div>
    </section>
</div>